CPTCFG_CFG80211=m
# CPTCFG_CFG80211_DEFAULT_PS is not set
CPTCFG_CFG80211_DEBUGFS=y
CPTCFG_CFG80211_INTERNAL_REGDB=y
# CPTCFG_CFG80211_CRDA_SUPPORT is not set
CPTCFG_CFG80211_WEXT=y
CPTCFG_MAC80211=m
CPTCFG_MAC80211_RC_MINSTREL_VHT=y
CPTCFG_MAC80211_MESH=y
CPTCFG_MAC80211_LEDS=y
CPTCFG_MAC80211_DEBUGFS=y
# CPTCFG_RTL_CARDS is not set
# CPTCFG_ETHERNET is not set
# CPTCFG_USB_NET_DRIVERS is not set
